/* statusbar */
.statusbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.70);
    z-index: 99;
}

.statusbar .statusbar-icon {
    float: left;
    margin-right: 10px;
    padding: 3px 0;
}

.statusbar .statusbar-icon [class^=icon] {
    font-size: 20px;
    line-height: 24px;
}

.statusbar .statusbar-text {
    font-size: 12px;
    font-weight: lighter;
    color: #FFF;
    float: left;
    padding-right: 30px;
    line-height: 30px;
}

.statusbar .statusbar-body {
    float: left;
    padding-right: 30px;
}

.statusbar .statusbar-close {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.statusbar .statusbar-close:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.statusbar.statusbar-info {
    background: rgba(47, 132, 177, 0.70);
}

/* #2F84B1 */
.statusbar.statusbar-danger {
    background: rgba(175, 47, 47, 0.70);
}

/* #AF2F2F */
.statusbar.statusbar-success {
    background: rgba(89, 173, 47, 0.70);
}

/* #FFA91F */
.statusbar.statusbar-warning {
    background: rgba(255, 169, 31, 0.70);
}

/* #59AD2F */
/* eof statusbar */